/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

https://fonts.googleapis.com/css?family=Garamond
https://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans

html {
    background-color: gray;
    font-family: 'Garamond';font-size: 16px;
    font-size: 100%;
}

body {
    background-color: #e9e2d9;
    font-family: 'Garamond';font-size: 16px;
}

h1 {
    font-size: 2em;
    margin-bottom: 3rem;
}

.wrap-all {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #fff;
    padding: 5px;
}

.footer-column {
    width: 33%;
    float: left;
    box-sizing: border-box;
    padding-left: 5px;
}
.columns.footer-column-wrapper {
    border: gray solid 2px;
}

.rm-default li {
    display: inline-block;
    padding: 10px;
}

ul.my-navbar.rm-default.rm-desktop {
    float: inline-start;
}

figure.figure.right {
    float: right;
    clear: both;
}

.outer-wrap.outer-wrap-footer {
    clear: both;
}
.block.site-footer {
   clear: both;
   text-align: center;
}

.region-sidebar-left {
    display: inline;
    float: left;
    width: 28.125%;
}
.site-logo-text {
    float: left;
    text-decoration: none;
}
.site-logo-text a {
    text-decoration: none;
    font-size: 2em;
    color: gray;
}

.site-logo {
    display: none;
}

.byline {
    float: right;
    background-color: #fff;
    padding-bottom: 5px;
    width: 370px;
    height: 60px;
    border: 1px solid #999;
}

.me-byline {
    float: left;
    padding: 5px;
    width: 50px;
}

.outer-wrap.outer-wrap-flash-message {
    clear:both;
    border: 2px solid blue;
    width: 300px;
}
main.region-main {
    clear:both;
}
