/**
 * Base style to affect HTML elements on a general scale.
 */
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@bgColorHtml: #424242;
@bgColorBody: #fff;
@colorBody: #333;
// @fontFamilyBody: "EB+Garamond" ,sans-serif;

html {
    overflow-y: scroll;
    background-color: @bgColorHtml;
}

body {
    // max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    color: @colorBody;
    background-color: @bgColorBody;
    #desinax-hgrid.font(@fontSizeBody);
    // font: 100.01%/1 @fontFamilyBody;
    // line-height: 1.5;
}


// Activate grid and affect all typographic elements
#desinax-hgrid.activateDefaultTypography();

// .row {
//     display: block;
//     width: 100%;
// }

.row::after {
    content:"";
    display:block;
    clear: both;
}
